.additional__goods {
  margin-bottom: 88px;
}

.additional__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 34px 0 0 0;

  @media (min-width: $tablet-width) {
    gap: 0;
  }
}

.additional__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  gap: 24px;
  position: relative;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    padding: 21px 38px;
    border: 1px solid #cdcdcd;
    border-bottom: none;

    &:nth-child(3) {
      .additional__button {
        margin-top: -5px;
      }
    }

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
}

.additional__button {
  font-size: 16px;
  line-height: 20px;
  margin: -10px 0 8px 0;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 1;
  }
}

.additional__title {
  position: relative;
  display: block;
  min-width: 414px;
  margin: 33px 0 0 0;

  font-size: 24px;
  line-height: 24px;
  font-weight: $font-weight-normal;

  &::after {
    position: absolute;
    content: "";
    display: inline-block;
    top: 60%;
    left: 247px;
    width: 100%;
    height: 2px;
    background: #68b738;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    margin: 68px 0 80px -3px;
    width: 338px;

    font-size: 36px;
    line-height: 36px;

    background-color: #ffffff;

    &::after {
      width: 100vw;
      left: -40px;
    }

    &::before {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: -20px;

    &::after {
      left: -147px;
    }
  }
}

.additional__card--title {
  color: $darken-grey;
  font-size: 16px;
  line-height: 16px;
  font-weight: $font-weight-normal;
  margin: 13px 0 0 2px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 4px 0 0 0;
  }
}

.additional__spec {
  color: $dark-grey;
  font-family: "Arial";
  display: flex;
  justify-content: space-between;
  margin: -12px 0 0 -1px;

  @media (min-width: $tablet-width) {
    justify-self: flex-end;
    align-self: flex-end;
    column-gap: 50px;
    margin-top: 8px;

    font-size: 16px;
    line-height: 20px;
  }
}

.additional__container {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
