.card__list {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }
}

.card__item {
  position: relative;
  display: grid;
  grid-template-areas:
    "image title"
    "image spec"
    "button button";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 30px 0;

  &::before {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: -20px;
    width: 100vw;
    border-bottom: 1px solid #ebebeb;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &:first-child {
    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: -20px;
      width: 100vw;
      border-top: 1px solid #ebebeb;

      @media (min-width: $tablet-width) {
        border-top: none;
      }
    }
  }

  &:last-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80%;

    @media (min-width: $tablet-width) {
      border: 2px solid #f2f2f2;
      align-self: end;
    }

    .card__button {
      color: $dark-grey;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &:not(:last-child) {
    @media (min-width: $tablet-width) {
      background: linear-gradient(to bottom, #ffffff 20%, #f2f2f2 20%);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 30px;
    display: flex;
    justify-content: end;
    flex-direction: column;
  }
}

.card__title {
  grid-area: title;
  margin-top: -15px;

  color: $darken-grey;
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-normal;

  &:last-of-type {
    color: $charcoal;
  }

  @media (min-width: $tablet-width) {
    order: 2;
    margin-top: 10px;
    text-align: center;

    font-size: 20px;
    line-height: 24px;
  }
}

.card__item picture {
  grid-area: image;
  justify-self: center;
  align-self: center;
  margin-top: -30px;
}

.card__img {
  grid-area: image;

  display: flex;
  justify-self: center;
  align-self: center;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.card__small {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }
}

.card__big {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }
}

.spec {
  grid-area: spec;
  width: 100%;

  @media (min-width: $tablet-width) {
    order: 3;
    display: grid;
  }
}

.spec__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid #ebebeb;
  }
}

.card__item .card__description, .spec__item {
  color: $dark-grey;
  font-family: $font-family-lato;
  font-size: $font-size-small;
  line-height: 16px;
  font-weight: $font-weight-normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.card__description {
  grid-area: spec;
  text-align: center;

  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.card__button {
  grid-area: button;
  width: 100%;
  z-index: 1;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}
