.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 280px;
  min-height: 290px;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/background/cat_bag.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    background-color: rgb(104 183 56 / 85%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-evenly;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/background/cat_bag_tablet.png");
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    background-image: url("../img/background/cat_bag.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.gift__icon {
  background-image: url("../img/icons/icon_gift.svg");
  width: 78px;
  height: 80px;
}

.gift__conditions {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 20px;
  font-family: $font-family-lato;
  font-weight: $font-weight-normal;
}
