.program__title {
  font-size: 36px;
  line-height: 36px;
  margin: 28px 0 37px 0;
  font-weight: $font-weight-normal;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 35px 0 37px 39px;
  }
}

.program__guide {
  margin-bottom: 18px;
  letter-spacing: 0.003em;
  line-height: 18px;
  font-weight: normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin: 54px 0 20px 41px;
  }
}

.questionnaire {
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    margin: 50px 0 0 41px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-bottom: 20px;
  }
}

.questionnaire__item {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 25px;
  }
}

.questionnaire__item:first-child {
  .questionnaire__input::placeholder {
    color: $dark-grey;
  }

  .questionnaire__input {
    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: 2px solid $dark-grey;
      outline: none;
    }

    @media (min-width: $tablet-width) {
      height: 52px;
      margin-top: -2px;
    }
  }

  .questionnaire__label {
    @media (min-width: $tablet-width) {
      margin: -3px 37px 0 0;
    }
  }
}

.questionnaire__item:last-child {
  margin: 23px 0px 0 -5px;
  position: relative;
  row-gap: 10px;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: -20px;
    left: -20px;
    border-top: 1px solid #d9d9d9;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    bottom: -19px;
    left: -20px;
    border-bottom: 1px solid #d9d9d9;
  }

  .questionnaire__label {
    color: $darken-grey;
    display: flex;
    align-items: center;
    column-gap: 7px;

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      column-gap: 13px;
    }
  }

  .questionnaire__title {
    margin:  2px 0 0 -1px;

    @media (min-width: $tablet-width) {
      margin: 2px 0 0 -3px;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;

    &::before,
    &::after {
      display: none;
    }

    padding: 22px;
    margin: 53px 37px 28px 0px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  .questionnaire__input {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.questionnaire__label {
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  column-gap: 15px;
  align-items: center;

  &:nth-child(1) {
    .questionnaire__input {
      padding: 5px 0 0 13px;

      @media (min-width: $tablet-width) {
        padding: 11px 0 0 16px;
      }
    }
  }

  &:nth-child(2) {
    .questionnaire__input {
      padding: 5px 0 0 17px;

      @media (min-width: $tablet-width) {
        padding: 11px 0 0 20px;
      }
    }
  }

  &:nth-child(3) {
    .questionnaire__input {
      padding: 5px 0 0 16px;

      @media (min-width: $tablet-width) {
        padding: 11px 0 0 19px;
      }
    }
  }
}

.questionnaire__input::placeholder {
  opacity: 1;

  font-family: $font-family-oswald;
  color: $darken-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: $font-weight-normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.questionnaire__title {
  white-space: nowrap;

  font-size: 16px;
  line-height: 18px;
  font-weight: $font-weight-normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-right: 3px;
  }
}

.questionnaire__input {
  border: 1px solid #e7e7e7;
  height: 46px;
  width: 100%;
}

.questionnaire__input--radio {
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid #bababa;
  }

  &:checked {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #68b738;

      @media (min-width: $tablet-width) {
        width: 18px;
        height: 18px;
      }
    }

    &:hover {
      border: 1px solid #bababa;
    }
  }
}
