.user__contacts--title {
  position: relative;
  margin: 46px 0 31px;

  font-size: 24px;
  line-height: 26px;
  font-weight: $font-weight-normal;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 2px;
    top: 30%;
    left: 200px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    width: 592px;
    padding: 0px 40px;
    margin: 48px -1px;

    font-size: 36px;
    line-height: 36px;

    white-space: nowrap;
    background-color: #ffffff;

    &::after {
      top: 60%;
      left: -10px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: -90px;
    }
  }
}

.user__contacts--container {
  display: grid;
  row-gap: 12px;

  @media (min-width: $tablet-width) {
    row-gap: 21px;
    padding: 29px 0 0 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.user__contacts--label {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  position: relative;

  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  font-weight: $font-weight-normal;

  @media (min-width: $tablet-width) {
    font-size: 20px;

    &:last-child {
      gap: 3px;
    }
  }
}

.user__contacts--input {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 17px 0 12px 15px;
  margin-top: 2px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid $dark-grey;
    outline: none;
  }

  &::placeholder {
    opacity: 1;

    color: $dark-grey;
    font-family: $font-family-oswald;
    font-size: 16px;
    line-height: 18px;
    font-weight: $font-weight-normal;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      height: 52px;
    }
  }

  &:first-child {
    margin: 2px 0 0 1px;
  }

  @media (min-width: $tablet-width) {
    height: 52px;
    margin: -1px 35px 0 10px;
    padding: 20px 0 12px 21px;
  }
}

.user__contacts--input-title {
  display: flex;
  align-items: center;
  white-space: nowrap;


}

.email__icon {
  content: "";
  position: absolute;
  top: 53%;
  right: 15px;
  transform: translateY(-50%);
  stroke: #222222;
  pointer-events: none;

  @media (min-width: $tablet-width) {
  top: 49%;
  right: 54px;
  }
}

.user__contacts--input:focus ~ .email__icon {
  stroke: #68b738;
}

.phone__icon {
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000000;

  @media (min-width: $tablet-width) {
    right: 53px;
  }
}

.user__contacts--input:focus ~ .phone__icon {
  stroke: #68b738;
}

.email__icon--error {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  stroke: #ff8282;
  pointer-events: none;
}

.phone__icon--error {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ff8282;
}
