.br__mobile {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.br__tablet {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.main__catalog {
  padding: 0 20px;

  @media (min-width: $tablet-width) {

  }
  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 100%;
  }
}

.goods {
  width: 100%;
  padding: 0;
  margin: 0;
}

.goods__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: $font-weight-normal;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
