.br__mobile {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__form {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 70px;
  }
}

.program__title {
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 20px;
}

.program__guide {
  line-height: 18px;
  margin-bottom: 20px;
}

.questionnaire {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-bottom: 20px;
  }
}

.questionnaire__item {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.questionnaire__item:first-child {
  .questionnaire__input::placeholder {
    color: $dark-grey;
  }

  .questionnaire__input {
    &:hover {
      border: 1px solid #cdcdcd;
    }

    &:focus {
      border: 2px solid $dark-grey;
      outline: none;
    }
  }
}

.questionnaire__item:last-child {
  margin: 20px 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100vw;
    top: -10px;
    left: -20px;
    border-top: 1px solid #d9d9d9;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100vw;
    bottom: -10px;
    left: -20px;
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid #e7e7e7;

    &::before,
    &::after {
      display: none;
    }

    padding: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  .questionnaire__input {
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
  }
}

.questionnaire__label {
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.questionnaire__input::placeholder {
  opacity: 1;
  color: $darken-grey;
  font-size: 20px;
  font-family: $font-family-oswald;
}

.questionnaire__title {
  @media (min-width: $tablet-width) {
    white-space: nowrap;
  }
}

.questionnaire__input {
  border: 1px solid #e7e7e7;
  height: 50px;
  line-height: 50px;
  padding: 10px;
  width: 100%;
}

.questionnaire__input--radio {
  border: 1px solid #cdcdcd;

  &:hover {
    border: 1px solid #bababa;
  }

  &:checked {
    &::after {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: #68b738;
    }

    &:hover {
      border: 1px solid #bababa;
    }
  }
}

.questionnaire__item:last-child .questionnaire__label {
  color: $darken-grey;
  display: flex;
  align-items: center;

  &:active {
    opacity: 0.3;
  }
}

.user__contacts--title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 2px;
    top: 30%;
    left: 200px;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
    width: 552px;
    padding: 0 20px;
    margin: 20px -20px;
    white-space: nowrap;

    &::after {
      top: 60%;
      left: -70px;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: -110px;
    }
  }
}

.user__contacts--container {
  display: grid;
  row-gap: 14px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.user__contacts--label {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

.user__contacts--input {
  border: 1px solid #e7e7e7;
  width: 100%;
  padding: 15px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid $dark-grey;
    outline: none;
  }

  &::placeholder {
    opacity: 1;
    color: $dark-grey;
    font-family: $font-family-oswald;
    font-size: 16px;
    line-height: 18px;
  }
}

.user__contacts--input-title {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.email__icon {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  stroke: #222222;
  pointer-events: none;
}

.user__contacts--input:focus ~ .email__icon {
  stroke: #68b738;
}

.phone__icon {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000000;
}

.user__contacts--input:focus ~ .phone__icon {
  stroke: #68b738;
}

.email__icon--error {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  stroke: #ff8282;
  pointer-events: none;
}

.phone__icon--error {
  content: "";
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #ff8282;
}

.comments {
  margin: 20px 0;
}

.comments__title {
  font-size: 24px;
  line-height: 26px;
  position: relative;
  margin: 20px 0;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 2px;
    top: 60%;
    left: 140px;
    background-color: #68b738;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    background-color: #ffffff;
    width: 222px;
    padding: 0 20px;
    margin: 20px -20px;

    &::after {
      left: -70px;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: -110px;
    }
  }
}

.comments__input {
  border: 1px solid #e7e7e7;
  min-width: 280px;
  min-height: 150px;
  position: relative;
  width: 100%;
  padding: 10px;
  resize: none;
}

.comments__input::placeholder {
  opacity: 1;
  font-family: $font-family-oswald;
  color: $dark-grey;
  font-size: 16px;
  line-height: 18px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.additional__form {
  column-gap: 80px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    align-items: center;
  }
}

.additional__form--title {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100vw;
    height: 2px;
    top: 60%;
    left: 160px;
    background-color: #68b738;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    grid-column: span 2;
    background-color: #ffffff;
    width: 251px;
    margin: 20px -20px;
    padding: 0 20px;

    &::after {
      left: -70px;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      left: -110px;
    }
  }
}

.additional__form--container {
  grid-column: span 2;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    width: 100%;
  }
}

.additional__form--label {
  display: flex;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.additional__form--input {
  margin: 0;
  margin-right: 10px;
  border: 1px solid #cdcdcd;
  appearance: none;
  width: 30px;
  height: 30px;
  position: relative;

  &:checked::after {
    content: "";
    position: absolute;
    display: block;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-image: url("../img/icons/input__icon.svg");
    background-size: 26px 26px;
    background-repeat: no-repeat;
  }
}

.additional__form--input-title {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    white-space: nowrap;
  }
}

.additional__form--button {
  margin: 20px 0;
  width: 100%;
  grid-column: span 2;

  @media (min-width: $tablet-width) {
    grid-column: span 1/2;
  }

  @media (min-width: $desktop-width) {
    grid-column: span 1/2;
  }
}

.additional__form--text {
  font-family: $font-family-lato;
  line-height: 16px;
  display: flex;
  justify-self: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-self: start;
    grid-column: 2/3;
  }
}
