.br__mobile {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main__form {
  padding: 0 20px 33px 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 51px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    max-width: 100%;
  }
}
