.br__off {
  display: inline;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.promo {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  text-align: center;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 117px;
    min-height: 480px;

  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-left: 0;
    min-height: 480px;
    overflow: visible;
  }
}

.promo__img {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    display: block;
    top: 300px;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
    margin: 0 auto;
    width: 709px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    display: block;
    top: 300px;
    left: 50%;
    margin: 0 auto;
    width: 552px;
    height: auto;
  }
}

.promo::before {
  @media (min-width: $mobile-width) {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: url("../img/background/background_mobile.jpg") no-repeat;
    background-size: cover;
    z-index: -3;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background_mobile@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    display: block;
    top: -133px;
    left: 50%;
    width: 50vw;
    height: 694px;
    background-image: url("../img/background/background_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -3;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/background_desktop@2x.jpg");
    }
  }
}

.promo::after {
  @media (min-width: $mobile-width) {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 70%;
      background: rgba(104, 183, 56, 0.85);
      z-index: -3;
  }

  @media (min-width: $tablet-width) {
    display: none;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      display: block;
      top: -133px;
      left: 50%;
      width: 50vw;
      height: 694px;
      background: rgba(104, 183, 56, 0.85);
      z-index: -2;
  }
}

.promo__link {
  @media (min-width: $mobile-width) {
    margin: 0 20px;
  }

  @media (min-width: $tablet-width) {
      margin: 0;
      width: 114px;
    }

  @media (min-width: $desktop-width) {
    content: "";
    display: block;
    position: absolute;
    top: 160px;
    left: 0;
    margin: 0;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: $white;

  margin: 27px 0 25px 0;

  @media (min-width: $tablet-width) {
    color: $black;
  }
}

.promo__text {
  line-height: 14px;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    color: $black;
  }
}

.advantages {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
}


.advantages__item {
  min-height: 266px;
  margin: 20px;
  padding: 0 20px;
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.advantages__title {
  font-size: 24px;
  line-height: 37px;
  margin: 30px 0 29px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  position: relative;

  @media (min-width: $tablet-width) {
    justify-content: start;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.advantages__description {
  color: $dark-grey;
  font-family: $font-family-lato;
  line-height: 18px;
  margin: 0 33px 0 0;
  min-width: 227px;

  @media (min-width: $tablet-width) {
    width: 340px;
  }
}

.advantages__link {
  font-size: 16px;
  line-height: 16px;

  display: flex;
  min-width: 100%;
  margin: 38px 0 18px 0;
  position: relative;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.advantages__link::before {
  content: "";
  display: block;
  position: absolute;
  top: -15px;
  border-top: 1px solid #d9d9d9;
  width: 100%;

  @media (min-width: $desktop-width) {
    border: none;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.advantages__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 100px;
  width: 32px;
  height: 10px;
  background-image: url("../img/icons/arrow.svg");
}

.cat__sit {
  @media (min-width: $tablet-width) {
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 106px;
  }
}

.cat__back {
  @media (min-width: $tablet-width) {
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 100px;
  }
}

.explanation__title {
  margin: 0 20px;
  font-size: 36px;
  line-height: 40px;
}

.explanation__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 40px 20px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: none;
  }
}

.explanation__item {
  position: relative;
  display: grid;
  align-items: center;
  min-height: 60px;
  row-gap: 20px;
  padding: 0 0 0 80px;
  z-index: 0;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    width: 230px;
    padding: 0;
    padding-top: 40px;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    counter-increment: process;
    text-align: left;
    display: flex;
  }
}

.explanation__item::after {
    @media (min-width: $tablet-width) {
      content: counter(process);
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      color: #f2f2f2;
      font-family: $font-family-oswald;
      font-size: 280px;
      line-height: 280px;
    }
}

.explanation__item::before {
  @media (min-width: $tablet-width) {
    margin-top: 40px;
  }
}

.explanation__item:nth-of-type(1)::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/icons/leaf.svg);
}

.explanation__item:nth-of-type(2)::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/icons/powder.svg);
}

.explanation__item:nth-of-type(3)::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/icons/meal.svg);
}

.explanation__item:nth-of-type(4)::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/icons/weight.svg);
}

.explanation__description {
  color: $dark-grey;
  font-family: $font-family-lato;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    height: 72px;
  }
}

.example {
  padding: 25px 20px 40px 20px;
  display: grid;
  width: 100vw;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #ffffff 50%, #eaeaea 50%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, #ffffff 20%, #eaeaea 20%);
    margin: 0 -110px;
    padding: 0 110px;
  }
}

.example__columns {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

.example__content {
  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.example__description {
  color: $dark-grey;
  font-family: $font-family-lato;
  line-height: 18px;
  margin-bottom: 20px;
}

.example__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
}

.example__item {
  text-align: center;
}

.example__list--title {
  font-size: 24px;
  line-height: 24px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 77px;
  }
}

.example__list--description {
  color: $dark-grey;
  font-family: $font-family-lato;
  font-size: 12px;
  line-height: 12px;

  display: flex;
  justify-content: center;
  justify-self: center;
  margin-bottom: 20px;
  margin-top: -10px;
  width: 70%;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    background-color: #eaeaea;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-self: start;
  }
}

.example__spend {
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    text-align: right;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 130px;
    width: 100%;
  }
}

.example__images {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 1fr;
    justify-self: center;
    width: 592px;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    justify-self: end;
    padding: 0;
  }
}

.example__button--text {
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px dotted #b8b8b8;

    &:hover {
      border-bottom: 1px solid #919191;
    }

    &:active {
      border-bottom: none;
    }
  }
}

.example__image {
  display: flex;
  justify-content: center;
}

.example__img {
  width: 592px;
  height: auto;
}

.example__button {
  border: none;
  cursor: pointer;
  background-color: #eaeaea;

  font-size: 16px;
  font-family: $font-family-oswald;
  line-height: 20px;
}

.example__switcher {
  margin-top: 15px;
  text-align: center;
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    justify-content: end;
    grid-column: span 2;
    grid-row: 2/3;
  }
}

.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  align-items: center;
  justify-self: center;
  gap: 13px;
  padding: 0 35px;
  width: 210px;

  @media (min-width: $desktop-width) {
    justify-self: end;
  }
}

.switcher__toggler {
  padding: 3px 5px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  &::after {
    content: "";
    width: 36px;
    height: 6px;
    background-color: #68b738;
    border-radius: 6px;
  }

  .switcher__after & {
    justify-content: flex-end;
    padding-left: 36px;
  }

  .switcher__before & {
    justify-content: flex-start;
    padding-right: 36px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher__bar {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    height: 6px;
    width: 426px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #dcdcdc;
    border-radius: 6px;
  }
}

.switcher__bar::-webkit-slider-thumb {
  @media (min-width: $tablet-width) {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 34px;
    height: 34px;
    background-color: #68b738;
    border-radius: 50%;
    cursor: pointer;
    border: 13px solid #ffffff;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));

    &:hover {
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      outline: 1px solid #68b738;
      filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.20));
    }
  }
}

.switcher__bar::-moz-range-thumb {
  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    background-color: #68b738;
    border-radius: 50%;
    cursor: pointer;
    border: 13px solid #ffffff;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  }
}
