.uppercase {
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: $black;
}

.list {
  list-style-type: none;
}

.spacer {
  @media (min-width: $tablet-width) {
    display: block;
    height: 1.2em;
  }
}
