$font-family-oswald: "Oswald", sans-serif;
$font-family-lato: "Lato-Regular", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-size-small: 12px;
$black: #000000;
$white: #ffffff;
$dark-grey: #444444;
$darken-grey: #222222;
$charcoal: #111111;
$mobile-width: 280px;
$tablet-width: 708px;
$desktop-width: 1220px;
